<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
</head>

<body>
    <div id="root" class="container">
       <modal v-if="showModal" @close="showModal=false">
           <p>Ludjak neki</p>
       </modal>
       <button @click="showModal=true">Show modal</button>
    </div>


    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>


</body>
<html>