<html>

<head>

</head>

<body>
    <div id="root">

        <li v-for="name in names" v-text="name"></li>

        <input id='input' type="text" v-model="newName">
        <button @click="addName">Add name </button>

    </div>


    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>

    <script>



        var app = new Vue({
            el: '#root',
            data: {
                newName:'',
                names: ['joe', 'mary', 'jane', "jack"]
            },


            methods: {
                addName(){
                   this.names.push(this.newName);
                    this.newName= "";
                }
            }


        })
     

    </script>
</body>
<html>