<html>

<head>

</head>

<body>
    <div id="root">
      
       <li v-for="name in names" v-text="name"></li>

       <input id='input' type="text">
       <button id='button'>Add name </button>

    </div>


    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>

    <script>

        

        var app = new Vue({
            el: '#root',
           data : {
             names: ['joe', 'mary', 'jane',"jack"]
           },

           mounted(){
            document.querySelector('#button').addEventListener('click',() => {
            let name = document.querySelector('#input');
            app.names.push(name.value);
            name.value = "";
        })

           }


        })
        // document.querySelector('#button').addEventListener('click',() => {
        //     let name = document.querySelector('#input');
        //     app.names.push(name.value);
        //     name.value = "";

        // })

    </script>
</body>
<html>