<html>

<head>

</head>

<body>
    <div id="root">

        <h1>
            <!-- {{message.split("").reverse()}} -->
            {{reversedMessage}}

            <ul>
                <li v-for="task in tasks" v-text="task.description"></li>
            </ul>

            <h2> Incomplete tasks</h2>
            <ul>
                    <li v-for="task in incompleteTasks" v-text="task.description"></li>
            </ul>
        </h1>

    </div>


    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>

    <script>



        new Vue({
            el: '#root',
            data: {

                message: "hello world",

                tasks: [
                    { description: "Go to the store", completed: true },
                    { description: "Go to schoo", completed: true },
                    { description: "have lunch", completed: false },
                    { description: "Go to the store again", completed: true },
                    { description: "Make dinner", completed: true },
                    { description: "Sleep", completed: false }

                ],

            },








            computed: {
                reversedMessage() {
                    return this.message.split("");
                },
                incompleteTasks(){
                    return this.tasks.filter(task => !task.completed);
                }
            }

        })

    </script>
</body>
<html>