<html>

<head>

</head>

<body>
    <div id="root">

        <h1>
            <h2>All tasks with checkbox</h2>

            <div v-for="task in tasks">


                <input type="checkbox" value="Jack" v-model="task.completed">
                <label for="task" v-text="task.description"></label>


            </div>
            <h2>All tasks without checkbox</h2>

            <ul>
                <li v-for="task in tasks" v-text="task.description">
                    <input type="checkbox" id="checkbox" v-model="checked">
                    <label for="checkbox">{{ checked }}</label>
                </li>
            </ul>

            <h2>Completed tasks</h2>
            <ul>
                <li v-for="task in completeTasks" v-text="task.description"></li>
            </ul>
            <h2> Incomplete tasks</h2>
            <ul>
                <li v-for="task in incompleteTasks" v-text="task.description"></li>
            </ul>
        </h1>

        <input id='input' type="text" v-model="text">
        <button @click="addNewTask">Add task </button>

    </div>


    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>

    <script>



        new Vue({
            el: '#root',
            data: {

                message: "hello world",
                text: "",
                tasks: [
                    { description: "Go to the store", completed: true },
                    { description: "Go to schoo", completed: true },
                    { description: "have lunch", completed: false },
                    { description: "Go to the store again", completed: true },
                    { description: "Make dinner", completed: true },
                    { description: "Sleep", completed: false }

                ],

            },

            methods: {
                addNewTask() {
                    this.tasks.push(task = { description: this.text, completed: false });
                    this.newTask = ""
                }
            },






            computed: {
                reversedMessage() {
                    return this.message.split("");
                },
                incompleteTasks() {
                    return this.tasks.filter(task => !task.completed);
                },
                completeTasks() {
                    return this.tasks.filter(task => task.completed)
                }
            }

        })

    </script>
</body>
<html>