<template>
<div>
      <div>
            <h2>All tasks with checkbox</h2>
          <b-table>
        <thead>
          <th>completed</th>
          <th>description</th>
          <th>priority</th>
          <th></th>
          <th></th>
        </thead>
        
        <tbody>
            <tr v-for="task in tasks" :class="{editing: task == editedTask}" v-cloak>

              <td>
                <input type="checkbox"  v-model="task.completed">
              </td>
              <td>
                <label class="view" v-text="task.content"></label>
                <div class="edit">
                  <input  type="text" v-model="task.content"/>
                </div>

              </td>
              <div>
              <select v-model="task.priority">
               <option v-for="option in options" >
               {{ option.text }}
                 </option>
                </select>
              </div>
              <td>
              </td>
                <td>
                   <button @click="editData(task)">edit</button>
              </td>
                <td>
                   <button @click="saveData(task)">save</button>
              </td>
                <td>
                   <button @click="deleteTask(task)">delete</button>
              </td>


            </tr>
        </tbody>
            </b-table>
      </div>
      <div>
         

            <h2>Completed tasks</h2>
            <ul>
                <li v-for="task in completeTasks" :key="task.id" v-text="task.content"></li>
            </ul>


            <h2> Incomplete tasks</h2>
            <ul>
                <li v-for="task in incompleteTasks" v-text="task.content"></li>
            </ul>
        
           <h2> Tasks by priority </h2>
    <b-table>
            <ul>
                <li v-for="task in sortedTasks" :key="task.id" v-text="task.content">
                   
                </li>
            </ul>
    </b-table>


        <input id='input' type="text" v-model="content">
        <button @click="create">Add task </button>
  </div>
</div>
</template>

<script>
import auth from "../services/auth.js";
import task from "../services/task.js";
export default {
  name: "HelloWorld",
  data() {
    return {
      editedTask: null,
      content: "",
      completed: false,
      priority: 0,
      tasks: [],
      checked: false,
      options: [
        { text: "1", value: 1 },
        { text: "2", value: 2 },
        { text: "3", value: 3 },
        { text: "4", value: 4 },
        { text: "5", value: 5 }
      ]
    };
  },
  methods: {
    create() {
      task
        .create(this.content, this.completed, this.priority)
        .then(({ data }) => {
          this.$router.push({ name: "HelloWorld" });
          this.tasks.push(data);
        });
      this.content = "";
    },
    getTasks() {
      task.get().then(() => {
        this.$router.push({ name: "HelloWorld" });
      });
    },
    editData(task) {
      this.beforeEditCache = task.title;
      this.editedTask = task;
    },
    saveData(data) {
      task
        .update(data.id, data.content, data.completed, data.priority)
        .then(({ data }) => console.log(data));
    },
    deleteTask(data){
      task.delete(data.id)
        .then(() => {
          const index = this.tasks.findIndex((task) => task.id === data.id);
          this.tasks.splice(index, 1);
        });
    }
  },
  computed: {
    sortedTasks() {
      let newObj = JSON.parse(JSON.stringify(this.tasks));
      return newObj.sort((a, b) => a.priority >= b.priority);
    },
    incompleteTasks() {
      return this.tasks.filter(task => !task.completed);
    },
    completeTasks() {
      return this.tasks.filter(task => task.completed);
    }
  },
  beforeRouteEnter(to, from, next) {
    task.get().then(response => {
      next(vm => {
        console.log(response);
        vm.tasks = response.data;
      });
    });
  }
};
</script>

<style>
[v-cloak] {
  display: none;
}
.edit {
  display: none;
}
.editing .edit {
  display: block;
}
.editing .view {
  display: none;
}

</style>


