<template>
    <div>
        <form>
            <input type="text" placeholder="email" v-model="email" /> </br>
            
            <input type="password" placehorder="password" v-model="password" /> </br>
            <button @click="login" > login </button>
        </form>
    </div>
</template>

 <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script>
import auth from "../services/auth.js";
export default {
  name: "LoginForm",
  data() {
    return {
      email: null,
      password: null,
    };
  },
  methods: {
    login() {
      auth.login(this.email, this.password)
        .then(() => {
            this.$router.push('/');
        });
      this.email="";
      this.password=""
    }
  }
};
</script>