<template>
    <div>
      <input type="text" placeholder="name" v-model="name" /> </br>
      <input type="text" placeholder="email" v-model="email" /> </br>
      <input type="password" placehorder="password" v-model="password" />  </br>
      <button @click="register" >create user</button>
    </div>
</template>

<script>
import auth from "../services/auth.js";
export default {
  name: "RegisterForm",
  data() {
    return {
      name: null,
      email: null,
      password: null,
      error: false,
      response: null
    };
  },
  methods: {
    register() {
      auth.register(this.name, this.email, this.password)
        .then(() => {
          this.$router.push({ name: 'LoginForm' });
        })
      this.name="";
      this.email="";
      this.password=""
    }    
  }
};
</script>